
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);


body {
	background-color: #691D68;
}

.container-fluid {
	/*padding-top: 50px;*/
	background-color: #D5DBDB;
}

.gallery {
	margin-bottom: 50px;
	/*display: flex;*/
}

h1 {
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-size: 6vw;
	font-weight: lighter;
	color: #D5DBDB;
	text-transform: uppercase;
}

h3{
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5vw;
	/*color: #9b4d99;*/
	color: #C39BD3;
}

h2{
	font-family: "Raleway", sans-serif;
	color: #512E5F;
	text-align: center;
	font-size: 1.8em;
}

/*.flex-child{
	flex: 1;
}*/

img {
	border: 1px solid #DDDDDD;
	padding: 5px;
	width: 80%;
	margin: 10px auto 10px auto;
	background-color: #FFFFFF;
}

img:hover, .web_design:hover{
	border-color: #512E5F;
}

.header {
	margin-bottom: 50px;
	padding-bottom: 20px;
	border-bottom: 4px solid #C39BD3;
	/*background-color: #691D68;*/
	background-color: #512E5F;
}

.collapse{
	background-color: #EAEDED;
	padding: 0 50px;
	border-top: 2px solid #C39BD3;
	border-bottom: 2px solid #C39BD3;
}

.collapse img{
	background-color: #512E5F;
	width: 80%;
}

.collapse .col-md-4 {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0 30px;
}

.gallery a{
	color: #512E5F;
	background-color: white;
}

p{
	font-family: "Ubuntu", sans-serif;
	line-height: 1.6em;
}

.web_design{
	background-color: white;
	color: #512E5F;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	margin-top: 9px;
	border-radius: 6px;
	border: 1px solid #DDDDDD;
}

.web_design h4, .web_design h5 {
	font-family: "Ubuntu", sans-serif;
	font-size: 4vw;
	text-align: center;
}

.web_design h4{
	padding-top: 25px;
}

.web_design h5{
	font-size: 3vw;
	color: #C39BD3;
	font-weight: lighter;
	padding-bottom: 25px;
}

a:hover, a:visited, a:focus{
	text-decoration: none;
}


