body {
	background-color: #691D68;
}

.container-fluid {
	padding-top: 50px;
	background-color: #EAEAEA;
}

h1 {
	text-align: center;
	font-family: "Helvetica", sans-serif;
	font-size: 7vw;
	font-weight: lighter;
	color: #DDDDDD;
	text-transform: uppercase;
}

h3{
	text-align: center;
	font-family: "Helvetica", sans-serif;
	font-size: 1.5vw;
	color: #9b4d99;
}

img {
	border: 1px solid #DDDDDD;
	padding: 5px;
	width: 80%;
	margin: 10px auto 10px auto;
	background-color: white;
}

img:hover{
	border-color: #691D68;
}

.header {
	margin-top: 50px;
	border-top: 4px solid #9b4d99;
	background-color: #691D68;
}

